/* Colors */
/*
dark blue: #476A6F
light blue: #258EA6
dark green: #519E8A
medium green: #7EB09B
light green: #A3C4BC
*/


.gren {
    background-color: #937A9E;
    align-self: flex-start;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}

.green {
    position: relative;
    left: -13px;
    background-color: #937A9E;
    transform: rotate(180deg);

}
.blue {
    position: relative;
    top: 0px;
    left: 13px;
    background-color: #14AF8E;
    transform: rotate(-180deg) scaleX(-1);
}

.blu {
    flex-direction: row-reverse;
    background-color: #14AF8E;
    align-self: flex-end;
    border-top-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}

.wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #258ea6;
}

.form-wrapper {
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0px 10px 50px #555;
    background-color: #ffffff;
}

.registerForm {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.registerTitle {
    text-align: center;
    margin-bottom: 50px;
    width: 100%;
    color: #111;
    font-weight: lighter;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.label {
    font-size: 0.8em;
    margin-bottom: 0.25em;
    color: #222;
    font-weight: lighter;
}

.regInput {
    padding: 10px 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #cfcfcf;
    margin-bottom: 20px;
}

.regInput::placeholder {
    font-size: 1.2em;
    font-weight: lighter;
    color: #999;
}

.regInput.error {
    border: 1px solid red;
}

.errorMessage {
    color: red;
    font-size: 0.75em;
    display: relative;
}

.firstName {
    margin-right: 1%;
}

.lastName {
    margin-left: 1%;
}

.firstName,
.lastName,
.email,
.password {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.firstName,
.lastName {
    width: 49%;
}

.email,
.password {
    width: 100%;
}

.createAccount {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.createAccount button {
    background-color: #519e8a;
    color: #fff;
    border: 2px solid #519e8a;
    width: 100%;
    margin-top: 1em;
    padding: 8px 0px;
    font-size: 1em;
    font-weight: lighter;
    letter-spacing: 1px;
    margin-bottom: 1em;
    cursor: pointer;
    outline: none;
    
}

.createAccount button:hover {
    color: #519e8a;
    background-color: #fff;
    border: 2px solid #519e8a;
}

.createAccount small {
    color: #999;
    font-weight: lighter;
}

.employeeId {
    display: flex;
    flex-direction: column;
}

.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.groups {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.groupId {
  height: 38px;
  padding: 8px 8px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #cfcfcf;
  margin-bottom: 20px;
  width: 213px;
  color: #A39999;
  font-size: 1rem;
}
Link {
  cursor: pointer;
}

.App {
    font-family: sans-serif;
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
  }
  
  label,
  input {
    display: block;
    width: 100%;
  }
  
 
  
  input {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #777;
  }
  
  input.error {
    border-color: red;
  }
  
  .input-feedback {
    color: rgb(235, 54, 54);
    margin-top: -15px;
    font-size: 14px;
    margin-bottom: 20px;
  }
  
 

  